**Name:** SANKAR SATHISH S

**Roll:** 2007205

**Basic Python**

**1. Split this string**

In [2]:
s = "Hi There, This is Sathish"

In [3]:
s.split()

['Hi', 'There,', 'This', 'is', 'Sathish']

**2. Use .format() to print the following string.**

   **Output should be: The diameter of Earth is 12742 kilometers.**

In [4]:
planet ="India"
diameter = 34543

In [5]:
print("The diameter of {} is {} kilometer.".format(planet,diameter))

The diameter of India is 34543 kilometer.

**3. In this nest dictionary grab the word "hello"**

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [8]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

**Numpy**

In [9]:
import numpy as np

**4.1 Create an array of 10 zeros?**

In [10]:
arr_zeros = np.zeros(10)
print(arr_zeros)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

**4.2 Create an array of 10 fives?**

In [12]:
arr_nine = np.ones(10)*9
print(arr_nine)

[9. 9. 9. 9. 9. 9. 9. 9. 9. 9.]

**5. Create an array of all the even integers from 20 to 35**

In [13]:
even_int = list(np.arange(20,35,2))
print(even_int)

[20, 22, 24, 26, 28, 30, 32, 34]

**6. Create a 3x3 matrix with values ranging from 0 to 8**

In [14]:
m = np.arange(0,9).reshape(3,3)
print(m)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

**7. Concatinate a and b**

**a = np.array([1, 2, 3]), b = np.array([4, 5, 6])**

In [15]:
a = np.array([1,2,3])
b = np.array([4,5,6])
print(np.concatenate((a,b)))

[1 2 3 4 5 6]

**Pandas**

**8. Create a dataframe with 3 rows and 2 columns**

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame(columns = ['C1', 'C2'], index = ['R1', 'R2', 'R3'])
df

     C1   C2
R1  NaN  NaN
R2  NaN  NaN
R3  NaN  NaN

**9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023**

In [18]:
dates = pd.date_range('1/1/2023','2/10/2023')
print(dates)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

**10. Create 2D list to DataFrame**

**lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]**

In [21]:
lists = [[1, 'sankar', 22], [2, 'sathish', 25], [3, 'deepak', 24]]

In [22]:
df1 = pd.DataFrame(lists)
df1

   0        1   2
0  1   sankar  22
1  2  sathish  25
2  3   deepak  24